@import "varibles";
.sticky {
    position: fixed;
    width: 100%;
    z-index: 2;
}
.animation {
    @media screen and (max-width: 900px) {
        .boxes {
            li {
                position: absolute;
                display: block;
                list-style: none;
                width: 35px;
                height: 29px;
                bottom: -15px;
                background: white;
                top: -28vh;
                animation: circle 4s linear infinite !important;
                &:nth-child(1) {
                    left: 78vw;
                    top: -28vh;
                    border-radius: 50%;
                    background-color: $hover !important;
                    animation: circle 4s linear infinite !important;
                }

                &:nth-child(2) {
                    left: -2vw;
                    top: 361px;
                    border-radius: 50%;
                    background-color: $hover !important;
                    animation: circle 9s infinite !important;
                }
                @media screen and (max-width: 900px) {
                    @keyframes circle {
                        0% {
                            transform: rotate(0deg);
                            opacity: 1;
                        }

                        50% {
                            transform: translateY(-19vh);
                        }

                        100% {
                            transform: rotateY(180deg);
                            opacity: -1;
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width: 900px) {
        .boxes {
            li {
                position: absolute;
                display: block;
                list-style: none;
                width: 35px;
                height: 29px;
                bottom: -15px;
                background: white;
                top: 11vh;
                animation: circle 4s linear infinite !important;
                &:nth-child(1) {
                    left: 78vw;
                    top: 11vh;
                    border-radius: 50%;
                    background-color: $hover !important;
                }
                &:nth-child(2) {
                    left: -4vw;
                    height: 129px;
                    top: 82vh;
                    width: 221px;
                    border-radius: 238px 238px 0px 0px;
                    background-color: #cacaca3d;
                    animation: arc 10s linear infinite !important;
                }
                @keyframes arc {
                    0% {
                        transform: rotateY(0deg);
                    }
                    100% {
                        transform: rotateY(180deg);
                    }
                }

                &:nth-child(3) {
                    left: 0vw;
                    top: 361px;
                    border-radius: 50%;
                    background-color: $hover !important;
                }
                &:nth-child(4) {
                    left: 81vw;
                    top: 361px;
                }
                &:nth-child(5) {
                    left: 6vw;
                    top: 944px;
                }
                &:nth-child(6) {
                    left: 78vw;
                    top: 944px;
                    border-radius: 60%;
                    background-color: $hover !important;
                }
            }
        }
        @media screen and (min-width: 900px) {
            @keyframes circle {
                0% {
                    transform: rotate(0deg);
                    opacity: 1;
                }
                50% {
                    transform: translateY(-19vh);
                }
                75%{
                    transform: rotateY(360deg);
                    opacity: -1;
                }

                100% {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

