nav {
  background-color: #F8F0e3;
  padding: 1em !important;
}

nav .navbar-nav {
  margin: 0 auto;
}

nav .navbar-nav .h6 {
  font-size: 20px;
  font-weight: 700;
  color: #020636 !important;
}

nav .navbar-nav .h6:hover {
  color: #d65123 !important;
}

@media screen and (max-width: 1200px) {
  nav .navbar-nav .right {
    padding-left: 4vw !important;
  }
}

nav .navbar-nav .left {
  padding-left: 4vw !important;
}

@media screen and (max-width: 800px) {
  nav form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav form .playstore {
  border: 1px solid #020636;
  background: #020636;
  padding: 1vh 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  color: white;
  border-radius: 15px;
  font-weight: 700;
}

nav form .playstore:hover {
  color: #d65123 !important;
}

@media screen and (max-width: 800px) {
  nav form .playstore {
    margin-bottom: 3vh;
    width: 65%;
  }
}

nav form .applestore {
  border: 1px solid #020636;
  background: #F8F0e3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  padding: 1vh 2vw;
  color: #020636;
  border-radius: 15px;
  font-weight: 700;
}

nav form .applestore:hover {
  color: #d65123 !important;
}

@media screen and (max-width: 800px) {
  nav form .applestore {
    width: 65%;
  }
}

.first-section {
  background-color: #020636;
  color: #F8F0e3;
}

.first-section .up {
  padding-top: 15vh;
}

@media screen and (max-width: 1000px) {
  .first-section .up {
    padding: 0;
  }
}

.first-section .row {
  padding-bottom: 62vh;
  padding-top: 12vh;
}

@media screen and (max-width: 1000px) {
  .first-section .row {
    padding: 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .first-section .row .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.first-section .row .text1 {
  background-color: rgba(248, 240, 227, 0.5);
  color: #F8F0e3;
  font-weight: 600;
  padding: 2px 1em;
  border-radius: 15px;
  width: 25vw;
}

.first-section .row .text1 .text {
  padding-left: 17px;
}

@media screen and (max-width: 1350px) {
  .first-section .row .text1 {
    display: none;
  }
}

.first-section .row .images {
  margin-top: 14vh;
}

@media screen and (max-width: 1200px) {
  .first-section .row .images .avatar {
    width: 107%;
  }
}

.first-section .row h1 {
  font-size: 48px;
}

.first-section .row h1 span {
  color: #d65123;
}

.first-section .row h1 .dress {
  border: 3px solid #d65123;
  padding: 10px;
  color: #F8F0e3;
  border-radius: 80%;
}

@media screen and (max-width: 1000px) {
  .first-section .row h1 {
    font-size: 28px;
  }
}

.first-section .row p {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .first-section .row p {
    font-size: 11px;
  }
}

.first-section .row form {
  padding-bottom: 12vh;
}

.first-section .row form .applestore {
  border: 1px solid #020636;
  background: #d65123;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  padding: 1vh 2vw;
  color: #F8F0e3;
  border-radius: 15px;
  font-weight: 700;
}

.first-section .row form .applestore:hover {
  color: #020636 !important;
}

@media screen and (max-width: 1000px) {
  .first-section .row form .applestore {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first-section .row form .applestore img {
    margin-right: 2px;
  }
}

.first-section .row form .playstore {
  border: 1px solid #020636;
  background: #F8F0e3;
  padding: 1vh 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  color: #020636;
  border-radius: 15px;
  font-weight: 700;
}

.first-section .row form .playstore:hover {
  color: #d65123 !important;
}

@media screen and (max-width: 1000px) {
  .first-section .row form .playstore {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2vh !important;
  }
}

@media screen and (max-width: 1000px) {
  .first-section .row form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.second-section {
  background-color: #F8F0e3;
  color: #020636;
}

.second-section .phone {
  position: relative;
}

.second-section .phone img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 116px;
}

@media screen and (max-width: 1200px) {
  .second-section .phone img {
    width: 66vw;
    position: relative;
    bottom: 45px;
  }
}

.second-section .nav {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.second-section .nav .h1 {
  font-weight: 700;
}

.second-section .nav .img {
  padding: 3vh 0 0 0;
}

.second-section .text {
  font-weight: 400 !important;
}

.second-section .text .nam {
  font-weight: 700;
}

.second-section .bottom {
  margin-bottom: 23vh;
}

@media screen and (max-width: 1200px) {
  .second-section .bottom {
    margin-bottom: 5vh;
  }
}

.second-section form {
  margin-top: 3vh;
}

.second-section form .applestore {
  border: 1px solid #020636;
  background: #020636;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  padding: 1vh 2vw;
  color: white;
  border-radius: 15px;
  font-weight: 700;
}

.second-section form .applestore:hover {
  color: #d65123 !important;
}

@media screen and (max-width: 800px) {
  .second-section form .applestore {
    width: 92%;
    margin-top: 3vh !important;
  }
}

.second-section form .playstore {
  border: 1px solid #d65123;
  background: #d65123;
  padding: 1vh 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  color: #020636;
  border-radius: 15px;
  font-weight: 700;
}

.second-section form .playstore:hover {
  color: white !important;
}

@media screen and (max-width: 800px) {
  .second-section form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.second-section .texts .middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-section .texts .middle .h1 {
  font-weight: 600;
  color: #020636 !important;
}

.second-section .texts .p {
  font-size: 18px;
  color: #020636;
  font-weight: 600;
}

@media screen and (max-width: 460px) {
  .second-section .texts .p {
    font-size: 11px;
  }
}

.second-section .texts .check {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 460px) {
  .second-section .texts .check .img {
    width: 7%;
    padding-top: 0;
  }
}

.second-section .texts .button {
  background-color: #020636;
  padding: 1em 53px;
  font-size: 20px;
  border-radius: 10px;
}

.second-section .texts .button:hover {
  background-color: #3240df;
  color: black !important;
}

.third-section {
  background-color: #020636;
  color: #F8F0e3;
  background-image: url(/styles/img/bg3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 42px -230px;
  z-index: 99;
}

@media screen and (max-width: 900px) {
  .third-section {
    background-position: -548px -148px;
  }
  .third-section .h1 {
    padding-top: 0px !important;
  }
}

@media screen and (max-width: 900px) {
  .third-section .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 900px) and (max-width: 900px) {
  .third-section .flex .img-fluid {
    margin-right: 29vw;
  }
}

@media screen and (max-width: 800px) {
  .third-section form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.third-section form .playstore {
  border: 1px solid #020636;
  background: #d65123;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  padding: 1vh 2vw;
  color: white;
  border-radius: 15px;
  font-weight: 700;
}

.third-section form .playstore:hover {
  color: #020636 !important;
}

@media screen and (max-width: 800px) {
  .third-section form .playstore {
    width: 90%;
    margin-right: 0px !important;
  }
}

.third-section form .applestore {
  border: 1px solid #020636;
  background: #F8F0e3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  padding: 1vh 2vw;
  color: #020636;
  border-radius: 15px;
  font-weight: 700;
}

.third-section form .applestore:hover {
  color: #d65123 !important;
}

@media screen and (max-width: 800px) {
  .third-section form .applestore {
    width: 93%;
    margin-top: 13px !important;
  }
  .third-section form .applestore .app {
    padding-left: 5vw;
  }
}

.forth-section {
  background-color: #F8F0e3;
}

.forth-section .container .row .h1 {
  color: #020636;
}

@media screen and (max-width: 900px) {
  .forth-section .container .row .h1 {
    font-size: 22px;
  }
}

.forth-section .container .accordion-item {
  background-color: #F8F0e3;
  font-size: 25px;
  border: 2px solid #f3ebde;
}

.forth-section .container .accordion-item:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #fdbd55;
}

@media screen and (max-width: 900px) {
  .forth-section .container .accordion-item {
    font-size: 17px;
  }
}

footer {
  background-color: #020636;
  color: #F8F0e3;
}

footer .container .foot {
  padding-left: 8vw !important;
}

footer .container .row .textss {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (max-width: 1200px) {
  footer .container .row .textss {
    margin-bottom: 1vh !important;
  }
}

@media screen and (max-width: 1200px) {
  footer .container .row .copy {
    font-size: 13px;
  }
}

footer .container .row .p {
  font-size: 22px;
  font-weight: 300;
}

@media screen and (min-width: 320px) {
  footer .container .row .nav {
    gap: 2vw;
  }
}

@media screen and (min-width: 1200px) {
  footer .container .row .nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 13vh;
  }
}

footer .container .row .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .row .group .h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .container .row .group .list-group {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .container .row .group .list-group .list-group-item {
  background-color: transparent;
  border: none;
  color: #F8F0e3;
  margin-right: 1vw;
  font-size: 25px;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  footer .container .row .group .list-group .list-group-item {
    font-size: 18px;
    font-weight: 400;
  }
}
/*# sourceMappingURL=style.css.map */