@import "./modules/classes";
@import "./modules/varibles";
nav {
    background-color: $bgH;
    padding: 1em !important;
    .navbar-nav {
        margin: 0 auto;

        .h6 {
            font-size: 20px;
            font-weight: 700;
            color: $color !important;
            &:hover {
                color: $hover !important;
            }
        }
        .right {
            @media screen and (max-width: 1200px) {
                padding-left: 4vw !important;
            }
        }
        .left {
            padding-left: 4vw !important;
        }
    }
    form {
        @media screen and (max-width: 800px) {
            flex-direction: column;
        }
        .playstore {
            border: 1px solid $color;
            background: $color;
            padding: 1vh 2vw;
            align-items: center;
            line-height: 20px;
            color: white;
            border-radius: 15px;
            font-weight: 700;
            &:hover {
                color: $hover !important;
            }
            @media screen and (max-width: 800px) {
                margin-bottom: 3vh;
                width: 65%;
            }
        }
        .applestore {
            border: 1px solid $color;
            background: $bgH;
            align-items: center;
            line-height: 20px;
            padding: 1vh 2vw;
            color: $color;
            border-radius: 15px;
            font-weight: 700;
            &:hover {
                color: $hover !important;
            }
            @media screen and (max-width: 800px) {
                width: 65%;
            }
        }
    }
}
.first-section {
    background-color: $color;
    color: $bgH;

    .up {
        padding-top: 15vh;
        @media screen and (max-width: 1000px) {
            padding: 0;
        }
    }
    .row {
        padding-bottom: 62vh;
        padding-top: 12vh;
        @media screen and (max-width: 1190px) {
            padding: 0 0;
        }

        .nav {
            @media screen and (max-width: 1000px) {
                flex-direction: column-reverse;
                align-items: center;
            }
            .forward {
                @media screen and (max-width: 1000px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .text1 {
            background-color: rgba(248, 240, 227, 0.5);
            color: $bgH;
            font-weight: 600;
            padding: 2px 1em;
            border-radius: 15px;
            width: 25vw;

            .text {
                padding-left: 17px;
            }
            @media screen and (max-width: 1350px) {
                display: none;
            }
        }
        .images {
            margin-top: 14vh;
            .avatar {
                @media screen and (max-width: 1200px) {
                    width: 107%;
                }
            }
        }
        h1 {
            @media screen and (min-width: 1200px) {
                font-size: 48px;
            }
            .look {
                display: inline-grid;
                padding-left: 0;
                line-height: 90px;
                height: 90px;
                overflow: hidden;
                li {
                    display: inline;
                    color: $hover;
                    position: relative;
                    top: 0;
                    animation: slides 6s steps(4) infinite;
                    @keyframes slides {
                        100% {
                            top: -360px;
                        }
                    }

                    span {
                        position: relative;
                    }
                    span::after {
                        content: "";
                        background-color: $color;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        border-left: 2px solid $hover;
                        animation: typing 1.5s steps(6) infinite;
                    }
                    @keyframes typing {
                        100% {
                            left: 100%;
                            margin: 0 -35px 0 35px;
                        }
                    }
                }
            }
            .dress {
                border: 3px solid $hover;
                padding: 10px;
                color: $bgH;
                border-radius: 80%;
            }
            @media screen and (max-width: 1000px) {
                font-size: 26.5px;
            }
        }
        p {
            font-size: 18px;
            font-weight: 600;
            @media screen and (max-width: 1000px) {
                font-size: 10.7px;
            }
        }

        form {
            padding-bottom: 12vh;
            .applestore {
                border: 1px solid $color;
                background: $hover;
                padding: 1vh 2vw;
                align-items: center;
                line-height: 20px;

                color: $bgH;
                border-radius: 15px;
                font-weight: 700;
                &:hover {
                    color: $color !important;
                }
                @media screen and (max-width: 1000px) {
                    width: 250px;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    img {
                        margin-right: 2px;
                    }
                }
            }
            .playstore {
                border: 1px solid $color;
                background: $bgH;
                padding: 1vh 2vw;
                align-items: center;
                line-height: 20px;
                color: $color;
                border-radius: 15px;
                font-weight: 700;
                &:hover {
                    color: $hover !important;
                }
                @media screen and (max-width: 1000px) {
                    flex-direction: row;
                    width: 250px;
                    align-items: center;
                    justify-content: center;
                    margin-top: 2vh !important;
                    margin-right: 0 !important;
                }
            }
            @media screen and (max-width: 1000px) {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.second-section {
    background-color: $bgH;
    color: $color;
    .phone {
        position: relative;

        img {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 116px;
        }
        @media screen and (max-width: 1200px) {
            img {
                position: relative;
                bottom: 45px;
                margin-left: 6vw;
                display: flex;
                justify-content: center !important;
                margin-right: 0 !important;
            }
        }
    }
    .nav {
        align-items: baseline;
        .h1 {
            font-weight: 700;
            padding-left: 0 !important;
        }
        .img {
            padding: 3vh 0 0 0;
        }
        @media screen and (max-width: 1200px) {
            justify-content: flex-start;
        }
    }
    .text {
        font-weight: 400 !important;

        .nam {
            font-weight: 700;
        }
    }
    .bottom {
        margin-bottom: 23vh;
        @media screen and (max-width: 1200px) {
            margin-bottom: 5vh;
        }
    }
    form {
        margin-top: 3vh;
        .applestore {
            border: 1px solid $color;
            background: $color;
            align-items: center;
            line-height: 20px;
            padding: 1vh 2vw;
            color: white;
            border-radius: 15px;
            font-weight: 700;
            &:hover {
                color: $hover !important;
            }
            @media screen and (max-width: 800px) {
                width: 250px;
                padding: 6px;
                margin-top: 3vh !important;
            }
        }
        .playstore {
            border: 1px solid $hover;
            background: $hover;
            padding: 1vh 2vw;
            align-items: center;
            line-height: 20px;
            color: $color;
            border-radius: 15px;
            font-weight: 700;

            &:hover {
                color: white !important;
            }
            @media screen and (max-width: 800px) {
                width: 250px;
                margin-right: 0 !important;
            }
        }
        @media screen and (max-width: 800px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .texts {
        .middle {
            align-items: center;

            .h1 {
                font-weight: 600;
                padding-left: 7px !important;
                color: $color !important;
            }
        }
        .p {
            font-size: 18px;
            color: $color;
            font-weight: 600;
            padding-top: 25px;
            @media screen and (max-width: 460px) {
                font-size: 11px;
                padding-top: 0;
            }
        }

        .check {
            align-items: center;
            .img {
                @media screen and (max-width: 460px) {
                    width: 7%;
                    padding-top: 0;
                }
            }
        }
        .button {
            background-color: $color;
            padding: 1em 53px;
            font-size: 20px;
            border-radius: 10px;
            &:hover {
                background-color: #3240df;
                color: black !important;
            }
            @media screen and (max-width: 1200px) {
                display: none;
            }
        }
    }
    .but {
        display: none;
        @media screen and (max-width: 1200px) {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color;
            color: $bgH;
            padding: 1em 53px;
            font-size: 20px;
            border-radius: 10px;
            &:hover {
                background-color: #3240df;
                color: black !important;
            }
        }
    }
}

.third-section {
    background-color: $color;
    color: $bgH;
    // background-image: url(/styles/img/bg3.svg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: 42px -230px;
    @media screen and (max-width: 900px) {
        background-position: -548px -148px;

        .h1 {
            padding-top: 0px !important;
        }
    }
    .animation {
        position: relative;
        .boxes {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            li {
                @media screen and (min-width: 1200px) {
                    position: absolute;
                    display: block;
                    list-style: none;
                    width: 35px;
                    height: 29px;
                    bottom: -15px;
                    background: white;
                    animation: animate 30s linear infinite !important;
                    overflow: hidden;
                }

                &:nth-child(1) {
                    @media screen and (min-width: 1200px) {
                        left: 85%;
                        width: 3%;
                        height: 32px;
                        border-radius: 100%;
                        bottom: -15px;
                        overflow-x: hidden;
                        background-color: $hover;
                        animation-delay: 1.5s;
                        animation-duration: 10s;
                    }
                }
                &:nth-child(2) {
                    @media screen and (min-width: 1200px) {
                        left: 78%;
                        width: 3%;
                        border-radius: 100%;
                        height: 32px;
                        top: 853px;
                        background-color: $hover;
                        animation-delay: 1s;
                        overflow-x: hidden;
                    }
                }
                &:nth-child(3) {
                    @media screen and (min-width: 1200px) {
                        left: 33%;
                        width: 3%;
                        border-radius: 100%;
                        height: 32px;
                        top: 547px;
                        background-color: $hover;
                        animation-delay: 0s;
                        animation-duration: 14s;
                        overflow-x: hidden;
                    }
                }
                &:nth-child(4) {
                    @media screen and (min-width: 1200px) {
                        left: -3%;
                        width: 3%;
                        border-radius: 100%;
                        height: 32px;
                        top: 644px;
                        background-color: $hover;
                        animation-delay: 1s;
                        overflow-x: hidden;
                    }
                }
                &:nth-child(5) {
                    @media screen and (min-width: 1200px) {
                        left: 90%;
                        width: 3%;
                        height: 35px;
                        top: 644px;
                        animation-delay: 1s;
                        overflow-x: hidden;
                    }
                }
                &:nth-child(6) {
                    @media screen and (min-width: 1200px) {
                        left: 39%;
                        width: 3%;
                        height: 35px;
                        top: 965px;
                        animation-delay: 2s;
                        overflow-x: hidden;
                    }
                }
                &:nth-child(7) {
                    @media screen and (min-width: 1200px) {
                        left: 51%;
                        width: 42%;
                        height: 264px;
                        top: 17px;
                        background-color: #cacaca3d;
                        border-radius: 238px 238px 0px 0px;
                        animation-delay: 1s;
                        opacity: 1;
                        overflow-x: hidden;
                        animation: arc 10s linear infinite !important;
                    }
                    @keyframes arc {
                        0% {
                            transform: rotateY(0deg);
                        }
                        100% {
                            transform: rotateY(180deg);
                        }
                    }
                }
                &:nth-child(8) {
                    @media screen and (min-width: 1200px) {
                        left: 2%;
                        width: 42%;
                        height: 264px;
                        top: 821px;
                        background-color: #cacaca3d;
                        border-radius: 0px 0px 238px 238px;
                        animation-delay: 1s;
                        opacity: 1;
                        overflow-x: hidden;
                        animation: arc 10s linear infinite !important;
                    }
                    @keyframes arc {
                        0% {
                            transform: rotateY(0deg);
                        }
                        100% {
                            transform: rotateY(180deg);
                        }
                    }
                }
            }
            @media screen and (min-width: 1200px) {
                @keyframes animate {
                    0% {
                        transform: translateY(0) rotate(0deg);
                        opacity: 1;
                    }
                    25% {
                        transform: rotateY(180deg);
                    }
                    50% {
                        transform: translateX(-100px);
                        opacity: 1;
                    }
                    75% {
                        transform: translateX(150px);
                        opacity: 1;
                    }
                    100% {
                        transform: translateY(-1100px) rotate(0deg);
                        opacity: 0;
                    }
                }
            }
        }
    }
    .flex {
        @media screen and (max-width: 900px) {
            display: flex;
            flex-direction: column-reverse;
            .img-fluid {
                @media screen and (max-width: 900px) {
                    margin-right: 29vw;
                }
            }
        }
    }

    form {
        @media screen and (max-width: 800px) {
            flex-direction: column;
        }

        .playstore {
            border: 1px solid $color;
            background: $hover;
            align-items: center;
            line-height: 20px;
            padding: 1vh 2vw;
            color: white;
            border-radius: 15px;
            font-weight: 700;
            &:hover {
                color: $color !important;
            }
            @media screen and (max-width: 800px) {
                width: 250px;
                margin-right: 0px !important;
            }
        }

        .applestore {
            border: 1px solid $color;
            background: $bgH;
            align-items: center;
            line-height: 20px;
            padding: 1vh 2vw;
            color: $color;
            border-radius: 15px;
            font-weight: 700;
            &:hover {
                color: $hover !important;
            }
            @media screen and (max-width: 800px) {
                width: 250px;
                margin-top: 13px !important;

                .app {
                    padding-left: 5vw;
                }
            }
        }
    }
}

.forth-section {
    background-color: $bgH;

    .container {
        .row {
            .h1 {
                color: $color;
                @media screen and (max-width: 900px) {
                    font-size: 22px;
                }
            }
        }
        .accordion-item {
            background-color: $bgH;
            font-size: 25px;
            border: 2px solid #f3ebde;
            button {
                margin-bottom: 3vh;
            }

            &:focus {
                outline: none;
                box-shadow: none;
                border: 2px solid #fdbd55;
            }
            @media screen and (max-width: 900px) {
                font-size: 17px;
            }
        }
    }
}

footer {
    background-color: $color;
    color: $bgH;

    .container {
        .foot {
            padding-left: 8vw !important;
        }
        .row {
            .textss {
                align-items: baseline;

                @media screen and (max-width: 1200px) {
                    margin-bottom: 1vh !important;
                }
            }

            .copy {
                @media screen and (max-width: 1200px) {
                    font-size: 13px;
                }
            }
            .p {
                font-size: 22px;
                font-weight: 300;
            }

            .nav {
                @media screen and (min-width: 320px) {
                    gap: 7vw;
                }
                @media screen and (min-width: 1200px) {
                    justify-content: space-evenly;
                    padding-bottom: 13vh;
                }
            }

            .group {
                display: flex;
                flex-direction: column;
                align-items: center;

                .h1 {
                    display: flex;
                    justify-content: flex-start;
                    align-self: flex-start;
                }
                .list-group {
                    align-self: flex-start;
                    .list-group-item {
                        background-color: transparent;
                        border: none;
                        color: $bgH;
                        margin-right: 1vw;
                        font-size: 25px;
                        font-weight: 300;
                        @media screen and (max-width: 1200px) {
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}
