.sticky {
  position: fixed;
  width: 100%;
  z-index: 2;
}

@media screen and (max-width: 900px) {
  .animation .boxes li {
    position: absolute;
    display: block;
    list-style: none;
    width: 35px;
    height: 29px;
    bottom: -15px;
    background: white;
    top: -28vh;
    -webkit-animation: circle 4s linear infinite !important;
            animation: circle 4s linear infinite !important;
  }
  .animation .boxes li:nth-child(1) {
    left: 78vw;
    top: -28vh;
    border-radius: 50%;
    background-color: #d65123 !important;
    -webkit-animation: circle 4s linear infinite !important;
            animation: circle 4s linear infinite !important;
  }
  .animation .boxes li:nth-child(2) {
    left: -2vw;
    top: 361px;
    border-radius: 50%;
    background-color: #d65123 !important;
    -webkit-animation: circle 9s infinite !important;
            animation: circle 9s infinite !important;
  }
}

@media screen and (max-width: 900px) and (max-width: 900px) {
  @-webkit-keyframes circle {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateY(-19vh);
              transform: translateY(-19vh);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      opacity: -1;
    }
  }
  @keyframes circle {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateY(-19vh);
              transform: translateY(-19vh);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      opacity: -1;
    }
  }
}

@media screen and (min-width: 900px) {
  .animation .boxes li {
    position: absolute;
    display: block;
    list-style: none;
    width: 35px;
    height: 29px;
    bottom: -15px;
    background: white;
    top: 11vh;
    -webkit-animation: circle 4s linear infinite !important;
            animation: circle 4s linear infinite !important;
  }
  .animation .boxes li:nth-child(1) {
    left: 78vw;
    top: 11vh;
    border-radius: 50%;
    background-color: #d65123 !important;
  }
  .animation .boxes li:nth-child(2) {
    left: -4vw;
    height: 129px;
    top: 82vh;
    width: 221px;
    border-radius: 238px 238px 0px 0px;
    background-color: #cacaca3d;
    -webkit-animation: arc 10s linear infinite !important;
            animation: arc 10s linear infinite !important;
  }
  @-webkit-keyframes arc {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  @keyframes arc {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  .animation .boxes li:nth-child(3) {
    left: 0vw;
    top: 361px;
    border-radius: 50%;
    background-color: #d65123 !important;
  }
  .animation .boxes li:nth-child(4) {
    left: 81vw;
    top: 361px;
  }
  .animation .boxes li:nth-child(5) {
    left: 6vw;
    top: 944px;
  }
  .animation .boxes li:nth-child(6) {
    left: 78vw;
    top: 944px;
    border-radius: 60%;
    background-color: #d65123 !important;
  }
}

@media screen and (min-width: 900px) and (min-width: 900px) {
  @-webkit-keyframes circle {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateY(-19vh);
              transform: translateY(-19vh);
    }
    75% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
      opacity: -1;
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  @keyframes circle {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateY(-19vh);
              transform: translateY(-19vh);
    }
    75% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
      opacity: -1;
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
}

nav {
  background-color: #F8F0e3;
  padding: 1em !important;
}

nav .navbar-nav {
  margin: 0 auto;
}

nav .navbar-nav .h6 {
  font-size: 20px;
  font-weight: 700;
  color: #020636 !important;
}

nav .navbar-nav .h6:hover {
  color: #d65123 !important;
}

@media screen and (max-width: 1200px) {
  nav .navbar-nav .right {
    padding-left: 4vw !important;
  }
}

nav .navbar-nav .left {
  padding-left: 4vw !important;
}

@media screen and (max-width: 800px) {
  nav form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav form .playstore {
  border: 1px solid #020636;
  background: #020636;
  padding: 1vh 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  color: white;
  border-radius: 15px;
  font-weight: 700;
}

nav form .playstore:hover {
  color: #d65123 !important;
}

@media screen and (max-width: 800px) {
  nav form .playstore {
    margin-bottom: 3vh;
    width: 65%;
  }
}

nav form .applestore {
  border: 1px solid #020636;
  background: #F8F0e3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  padding: 1vh 2vw;
  color: #020636;
  border-radius: 15px;
  font-weight: 700;
}

nav form .applestore:hover {
  color: #d65123 !important;
}

@media screen and (max-width: 800px) {
  nav form .applestore {
    width: 65%;
  }
}

.first-section {
  background-color: #020636;
  color: #F8F0e3;
}

.first-section .up {
  padding-top: 15vh;
}

@media screen and (max-width: 1000px) {
  .first-section .up {
    padding: 0;
  }
}

.first-section .row {
  padding-bottom: 62vh;
  padding-top: 12vh;
}

@media screen and (max-width: 1190px) {
  .first-section .row {
    padding: 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .first-section .row .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 9vh;
  }
}

@media screen and (max-width: 1000px) {
  .first-section .row .nav .forward {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first-section .row .nav .forward h1 {
    margin-bottom: 0 !important;
  }
}

.first-section .row .text1 {
  background-color: rgba(248, 240, 227, 0.5);
  color: #F8F0e3;
  font-weight: 600;
  padding: 2px 1em;
  border-radius: 15px;
  width: 58%;
}

@media screen and (max-width: 318px) {
  .first-section .row .text1 {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .first-section .row .text1 {
    margin-left: 5%;
  }
}

.first-section .row .text1 .text {
  padding-left: 17px;
}

@media screen and (max-width: 1200px) {
  .first-section .row .text1 .text {
    font-size: 13px;
  }
}

@media screen and (max-width: 1200px) {
  .first-section .row .text1 {
    width: 266px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 6vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first-section .row .text1 .img {
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .first-section .row .ava {
    -webkit-transform: translateY(-66px);
            transform: translateY(-66px);
  }
}

.first-section .row .ava .images {
  margin-top: 14vh;
  position: relative;
}

.first-section .row .ava .images .avatar {
  position: inherit;
  top: 15%;
  -webkit-animation: avatar 5s linear forwards infinite;
          animation: avatar 5s linear forwards infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@media screen and (max-width: 1200px) {
  .first-section .row .ava .images .avatar {
    width: 107%;
    margin-bottom: 10vh;
    margin-top: 4vh;
  }
}

@-webkit-keyframes avatar {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes avatar {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 1200px) {
  .first-section .row h1 {
    font-size: 48px;
  }
}

.first-section .row h1 .look {
  display: -ms-inline-grid;
  display: inline-grid;
  padding-left: 0;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}

.first-section .row h1 .look li {
  display: inline;
  color: #d65123;
  position: relative;
  top: 0;
  -webkit-animation: slides 6s steps(4) infinite;
          animation: slides 6s steps(4) infinite;
}

@-webkit-keyframes slides {
  100% {
    top: -360px;
  }
}

@keyframes slides {
  100% {
    top: -360px;
  }
}

.first-section .row h1 .look li span {
  position: relative;
}

.first-section .row h1 .look li span::after {
  content: "";
  background-color: #020636;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-left: 2px solid #d65123;
  -webkit-animation: typing 1.5s steps(6) infinite;
          animation: typing 1.5s steps(6) infinite;
}

@-webkit-keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

.first-section .row h1 .dress {
  border: 3px solid #d65123;
  padding: 10px;
  color: #F8F0e3;
  border-radius: 80%;
}

@media screen and (max-width: 1000px) {
  .first-section .row h1 {
    font-size: 26.5px;
  }
}

.first-section .row p {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .first-section .row p {
    font-size: 10.7px;
  }
}

.first-section .row form {
  padding-bottom: 12vh;
}

@media screen and (max-width: 199px) {
  .first-section .row form .applestore {
    background: #d65123;
    border-radius: 15px;
    color: #F8F0e3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    margin-right: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 200px) {
  .first-section .row form .applestore {
    background: #d65123;
    border-radius: 15px;
    color: #F8F0e3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 199px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 320px) {
  .first-section .row form .applestore {
    background: #d65123;
    border-radius: 15px;
    color: #F8F0e3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 141px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 336px) {
  .first-section .row form .applestore {
    background: #d65123;
    border-radius: 15px;
    color: #F8F0e3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 144px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 400px) {
  .first-section .row form .applestore {
    background: #d65123;
    border-radius: 15px;
    color: #F8F0e3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 148px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 450px) {
  .first-section .row form .applestore {
    background: #d65123;
    border-radius: 15px;
    color: #F8F0e3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 162px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .first-section .row form .applestore .ap {
    font-size: 14px;
  }
}

@media screen and (min-width: 1000px) {
  .first-section .row form .applestore {
    border: 1px solid #020636;
    background: #d65123;
    padding: 1vh 2vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 20px;
    color: #F8F0e3;
    border-radius: 15px;
    font-weight: 700;
    width: 213px;
    margin-top: 3vh !important;
    height: 10vh;
  }
  .first-section .row form .applestore:hover {
    color: #020636 !important;
  }
  .first-section .row form .applestore .ap {
    font-size: 1rem;
  }
}

@media screen and (max-width: 199px) {
  .first-section .row form .playstore {
    background: #F8F0e3;
    border-radius: 15px;
    color: #020636;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    margin-right: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 200px) {
  .first-section .row form .playstore {
    background: #F8F0e3;
    border-radius: 15px;
    color: #020636;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    margin-right: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 199px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 320px) {
  .first-section .row form .playstore {
    background: #F8F0e3;
    border-radius: 15px;
    color: #020636;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    margin-right: 0 !important;
    width: 156px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 390px) {
  .first-section .row form .playstore {
    background: #F8F0e3;
    border-radius: 15px;
    color: #020636;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    margin-right: 0 !important;
    width: 159px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 470px) {
  .first-section .row form .playstore {
    background: #F8F0e3;
    border-radius: 15px;
    color: #020636;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    margin-right: 0 !important;
    width: 170px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 510px) {
  .first-section .row form .playstore {
    background: #F8F0e3;
    border-radius: 15px;
    color: #020636;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    margin-right: 0 !important;
    width: 174px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .first-section .row form .playstore .ap {
    font-size: 14px;
  }
}

@media screen and (min-width: 1000px) {
  .first-section .row form .playstore {
    border: 1px solid #020636;
    background: #F8F0e3;
    padding: 1vh 2vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 20px;
    color: #020636;
    border-radius: 15px;
    margin-right: 3vw !important;
    font-weight: 700;
    width: 223px;
    margin-top: 3vh !important;
    height: 10vh;
  }
  .first-section .row form .playstore:hover {
    color: #d65123 !important;
  }
  .first-section .row form .playstore .ap {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .first-section .row form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    gap: 3vh;
  }
}

@media screen and (min-width: 319px) {
  .first-section .row form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    margin-top: 4%;
    width: 100%;
  }
}

@media screen and (min-width: 575px) {
  .first-section .row form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    margin-top: 4%;
    width: 130%;
  }
}

@media screen and (min-width: 1000px) {
  .first-section .row form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 14vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    margin-top: 0;
  }
}

.second-section {
  background-color: #F8F0e3;
  color: #020636;
}

.second-section .phone {
  position: relative;
}

.second-section .phone img {
  -webkit-transform: translateY(-333px);
          transform: translateY(-333px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: phone 5s linear forwards infinite;
          animation: phone 5s linear forwards infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@media screen and (max-width: 1200px) {
  .second-section .phone img {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
    margin-left: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 1200px) {
  @-webkit-keyframes phone {
    from {
      -webkit-transform: translateY(-350px);
              transform: translateY(-350px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(-320px);
              transform: translateY(-320px);
    }
  }
  @keyframes phone {
    from {
      -webkit-transform: translateY(-350px);
              transform: translateY(-350px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(-320px);
              transform: translateY(-320px);
    }
  }
}

@media screen and (max-width: 1200px) {
  @-webkit-keyframes phone {
    from {
      -webkit-transform: translateY(-60px);
              transform: translateY(-60px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes phone {
    from {
      -webkit-transform: translateY(-60px);
              transform: translateY(-60px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
}

.second-section .nav {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.second-section .nav .h1 {
  font-weight: 700;
  padding-left: 0 !important;
}

.second-section .nav .img {
  padding: 3vh 0 0 0;
}

@media screen and (max-width: 1200px) {
  .second-section .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.second-section .text {
  font-weight: 400 !important;
}

.second-section .text .nam {
  font-weight: 700;
}

.second-section .bottom {
  margin-bottom: 23vh;
}

@media screen and (max-width: 1200px) {
  .second-section .bottom {
    margin-bottom: 5vh;
  }
}

.second-section form {
  padding-bottom: 12vh;
}

@media screen and (max-width: 199px) {
  .second-section form .applestore {
    background: #020636;
    border-radius: 15px;
    color: #F8F0e3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    margin-right: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 200px) {
  .second-section form .applestore {
    background: #020636;
    border-radius: 15px;
    color: #F8F0e3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 232px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 320px) {
  .second-section form .applestore {
    width: 141px;
    font-size: 13px;
  }
}

@media screen and (min-width: 336px) {
  .second-section form .applestore {
    width: 144px;
  }
}

@media screen and (min-width: 400px) {
  .second-section form .applestore {
    width: 148px;
  }
}

@media screen and (min-width: 450px) {
  .second-section form .applestore {
    width: 173px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 683px) {
  .second-section form .applestore {
    font-size: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .second-section form .applestore {
    width: 213px;
    margin-top: 3vh !important;
    height: 11vh;
    font-size: 1rem;
  }
  .second-section form .applestore:hover {
    color: #d65123 !important;
  }
}

@media screen and (max-width: 199px) {
  .second-section form .playstore {
    background: #d65123;
    border-radius: 15px;
    color: #020636;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    margin-right: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 200px) {
  .second-section form .playstore {
    background: #d65123;
    border-radius: 15px;
    color: #020636;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    margin-right: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 230px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 320px) {
  .second-section form .playstore {
    width: 156px;
    height: 69px;
    font-size: 13px;
  }
}

@media screen and (min-width: 390px) {
  .second-section form .playstore {
    width: 159px;
  }
}

@media screen and (min-width: 470px) {
  .second-section form .playstore {
    width: 170px;
  }
}

@media screen and (min-width: 510px) {
  .second-section form .playstore {
    width: 184px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .second-section form .playstore {
    margin-right: 3vw !important;
    margin-top: 3vh !important;
    width: 223px;
    height: 11vh;
    font-size: 1rem;
  }
  .second-section form .playstore:hover {
    color: #F8F0e3 !important;
  }
}

@media screen and (max-width: 320px) {
  .second-section form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    gap: 3vh;
    margin-top: 5vh;
  }
}

@media screen and (min-width: 319px) {
  .second-section form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    margin-top: 4%;
    width: 107%;
  }
}

@media screen and (min-width: 410px) {
  .second-section form {
    width: 100%;
    margin-top: 8vh;
  }
}

@media screen and (min-width: 1000px) {
  .second-section form {
    gap: 0;
    margin-top: 9vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 14vh;
  }
}

@media screen and (max-width: 1200px) {
  .second-section .two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 3vh;
  }
}

.second-section .two .texts .middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-section .two .texts .middle .h1 {
  font-weight: 600;
  padding-left: 7px !important;
  color: #020636 !important;
}

.second-section .two .texts .p {
  font-size: 18px;
  color: #020636;
  font-weight: 600;
  padding-top: 25px;
}

@media screen and (max-width: 460px) {
  .second-section .two .texts .p {
    font-size: 11px;
    padding-top: 0;
  }
}

.second-section .two .texts .check {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 460px) {
  .second-section .two .texts .check .img {
    width: 7%;
    padding-top: 0;
  }
}

.second-section .two .texts .button {
  background-color: #020636;
  padding: 1em 53px;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 7vh;
}

.second-section .two .texts .button:hover {
  background-color: #3240df;
  color: black !important;
}

.second-section .two .aaa {
  position: relative;
}

.second-section .two .aaa img {
  margin-left: 0;
  position: inherit;
  -webkit-animation: avatar 5s linear forwards infinite;
          animation: avatar 5s linear forwards infinite;
}

@media screen and (min-width: 300px) {
  .second-section .two .aaa img {
    padding-left: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: 3vw;
  }
}

@keyframes avatar {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.third-section {
  background-color: #020636;
  color: #F8F0e3;
}

@media screen and (max-width: 900px) {
  .third-section {
    background-position: -548px -148px;
  }
  .third-section .h1 {
    padding-top: 0px !important;
  }
}

.third-section .animation {
  position: relative;
}

.third-section .animation .boxes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1200px) {
  .third-section .animation .boxes li {
    position: absolute;
    display: block;
    list-style: none;
    width: 35px;
    height: 29px;
    bottom: -15px;
    background: white;
    -webkit-animation: animate 24s linear infinite !important;
            animation: animate 24s linear infinite !important;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .third-section .animation .boxes li:nth-child(1) {
    left: 85%;
    width: 3%;
    height: 32px;
    border-radius: 100%;
    bottom: -15px;
    overflow-x: hidden;
    background-color: #d65123;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
  }
}

@media screen and (min-width: 1200px) {
  .third-section .animation .boxes li:nth-child(2) {
    left: 78%;
    width: 3%;
    border-radius: 100%;
    height: 32px;
    top: 853px;
    background-color: #d65123;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .third-section .animation .boxes li:nth-child(3) {
    left: 33%;
    width: 3%;
    border-radius: 100%;
    height: 32px;
    top: 547px;
    background-color: #d65123;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-duration: 14s;
            animation-duration: 14s;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .third-section .animation .boxes li:nth-child(4) {
    left: -3%;
    width: 3%;
    border-radius: 100%;
    height: 32px;
    top: 644px;
    background-color: #d65123;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .third-section .animation .boxes li:nth-child(5) {
    left: 86%;
    width: 3%;
    height: 35px;
    top: 644px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .third-section .animation .boxes li:nth-child(6) {
    left: 39%;
    width: 3%;
    height: 35px;
    top: 965px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .third-section .animation .boxes li:nth-child(7) {
    left: 51%;
    width: 42%;
    height: 264px;
    top: 17px;
    background-color: #cacaca3d;
    border-radius: 238px 238px 0px 0px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    opacity: 1;
    overflow-x: hidden;
    -webkit-animation: arc 10s linear infinite !important;
            animation: arc 10s linear infinite !important;
  }
}

@-webkit-keyframes arc {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes arc {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@media screen and (min-width: 1200px) {
  .third-section .animation .boxes li:nth-child(8) {
    left: 2%;
    width: 42%;
    height: 264px;
    top: 821px;
    background-color: #cacaca3d;
    border-radius: 0px 0px 238px 238px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    opacity: 1;
    overflow-x: hidden;
    -webkit-animation: arc 10s linear infinite !important;
            animation: arc 10s linear infinite !important;
  }
}

@keyframes arc {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@media screen and (min-width: 1200px) {
  @-webkit-keyframes animate {
    0% {
      -webkit-transform: translateY(0) rotate(0deg);
              transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    25% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    50% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
      opacity: 1;
    }
    75% {
      -webkit-transform: translateX(150px);
              transform: translateX(150px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-100px) rotate(0deg);
              transform: translateY(-100px) rotate(0deg);
      opacity: 0;
    }
  }
  @keyframes animate {
    0% {
      -webkit-transform: translateY(0) rotate(0deg);
              transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    25% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    50% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
      opacity: 1;
    }
    75% {
      -webkit-transform: translateX(150px);
              transform: translateX(150px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-100px) rotate(0deg);
              transform: translateY(-100px) rotate(0deg);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .third-section .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 900px) and (max-width: 900px) {
  .third-section .flex .img-fluid {
    margin-right: 29vw;
  }
}

.third-section form {
  padding-bottom: 12vh;
}

@media screen and (max-width: 199px) {
  .third-section form .applestore {
    background: #F8F0e3;
    border-radius: 15px;
    color: #020636;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    margin-right: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 200px) {
  .third-section form .applestore {
    background: #F8F0e3;
    border-radius: 15px;
    color: #020636;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 232px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 320px) {
  .third-section form .applestore {
    width: 141px;
    font-size: 13px;
  }
}

@media screen and (min-width: 336px) {
  .third-section form .applestore {
    width: 144px;
  }
}

@media screen and (min-width: 400px) {
  .third-section form .applestore {
    width: 148px;
  }
}

@media screen and (min-width: 450px) {
  .third-section form .applestore {
    width: 173px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 683px) {
  .third-section form .applestore {
    font-size: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .third-section form .applestore {
    width: 213px;
    margin-top: 3vh !important;
    height: 11vh;
    font-size: 1rem;
  }
  .third-section form .applestore:hover {
    color: #d65123 !important;
  }
}

@media screen and (max-width: 199px) {
  .third-section form .playstore {
    background: #d65123;
    border-radius: 15px;
    color: #F8F0e3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    margin-right: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 200px) {
  .third-section form .playstore {
    background: #d65123;
    border-radius: 15px;
    color: #F8F0e3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #020636;
    font-weight: 700;
    padding: 1vh 2vw;
    margin-top: 0 !important;
    margin-right: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 230px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 320px) {
  .third-section form .playstore {
    width: 156px;
    height: 69px;
    font-size: 13px;
  }
}

@media screen and (min-width: 390px) {
  .third-section form .playstore {
    width: 159px;
  }
}

@media screen and (min-width: 470px) {
  .third-section form .playstore {
    width: 170px;
  }
}

@media screen and (min-width: 510px) {
  .third-section form .playstore {
    width: 184px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .third-section form .playstore {
    margin-right: 3vw !important;
    margin-top: 3vh !important;
    width: 223px;
    height: 11vh;
    font-size: 1rem;
  }
  .third-section form .playstore:hover {
    color: #020636 !important;
  }
}

@media screen and (max-width: 320px) {
  .third-section form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    gap: 3vh;
    margin-top: 5vh;
  }
}

@media screen and (min-width: 319px) {
  .third-section form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    margin-top: 4%;
    width: 107%;
  }
}

@media screen and (min-width: 410px) {
  .third-section form {
    width: 100%;
    margin-top: 8vh;
  }
}

@media screen and (min-width: 1000px) {
  .third-section form {
    gap: 0;
    margin-top: 9vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 14vh;
  }
}

.third-section .phone {
  position: relative;
}

.third-section .phone img {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-animation: sidephone 5s linear forwards infinite;
          animation: sidephone 5s linear forwards infinite;
}

@-webkit-keyframes sidephone {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes sidephone {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.forth-section {
  background-color: #F8F0e3;
}

.forth-section .container .row .h1 {
  color: #020636;
}

@media screen and (max-width: 900px) {
  .forth-section .container .row .h1 {
    font-size: 22px;
  }
}

.forth-section .container .accordion-item {
  background-color: #F8F0e3;
  font-size: 25px;
  border: 2px solid #f3ebde;
}

.forth-section .container .accordion-item button {
  margin-bottom: 3vh;
}

.forth-section .container .accordion-item:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #fdbd55;
}

@media screen and (max-width: 900px) {
  .forth-section .container .accordion-item {
    font-size: 17px;
  }
}

footer {
  background-color: #020636;
  color: #F8F0e3;
}

footer .container .foot {
  padding-left: 8vw !important;
}

footer .container .row .textss {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (max-width: 1200px) {
  footer .container .row .textss {
    margin-bottom: 1vh !important;
  }
}

@media screen and (max-width: 1200px) {
  footer .container .row .copy {
    font-size: 13px;
  }
}

footer .container .row .p {
  font-size: 22px;
  font-weight: 300;
}

@media screen and (min-width: 320px) {
  footer .container .row .nav {
    gap: 7vw;
  }
}

@media screen and (min-width: 1200px) {
  footer .container .row .nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 13vh;
  }
}

footer .container .row .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .row .group .h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .container .row .group .list-group {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .container .row .group .list-group .list-group-item {
  background-color: transparent;
  border: none;
  color: #F8F0e3;
  margin-right: 1vw;
  font-size: 25px;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  footer .container .row .group .list-group .list-group-item {
    font-size: 18px;
    font-weight: 400;
  }
}
/*# sourceMappingURL=style.css.map */